/*
* 404.css ()
* Copyright 2019 vasanthrt
* Licensed under MIT (https://github.com/vasanthrt/mysite/blob/master/LICENSE)
*/
body {font-family: "Lucida Console", Monaco, monospace;font-size: 13pt;background-color: #d5d5d5;padding: 10px; margin: 0;}body a{text-decoration: none;color: #4f88c0;}body a:hover{color: #673AB7;}.section {background-color: #fff;color: black;padding: 15px;margin-bottom: 10px;border-radius: 10px;}.copyright {font-size: 13pt;text-align: right;padding-bottom: 10px;color: #F44336;}.footer {font-family:"Lucida Console", Monaco, monospace;font-size:16px;color:black;height:50px;}.footer a {color: coral;font-family: Helvetica, Arial, sans-serif;text-align: center;padding: 6px;text-decoration: none;font-size: 19px; line-height: 45px;border-radius: 5px;}.footer a:hover {background-color: green;color: cyan;}
