/*
* box_model.css ()
* Copyright 2019 vasanthrt
* Licensed under MIT (https://github.com/vasanthrt/mysite/blob/master/LICENSE)
*/

/* BOX Model  */

.xda{
  width: 320px;
  padding: 10px;
  border: 5px solid #2b2b2b;
  margin: 0;
}
.xda{
  width: 320px;
  padding: 10px;
  border: 5px solid #2b2b2b;
  margin: 0;
}
.github{
  width: 320px;
  padding: 10px;
  border: 5px solid #2b2b2b;
  margin: 0;
}

.html{
  width: 320px;
  padding: 10px;
  border: 5px solid #e44b23;
  margin: 0;
}

.css{
  width: 320px;
  padding: 10px;
  border: 5px solid #563d7c;
  margin: 0;
}

.javascript{
  width: 320px;
  padding: 10px;
  border: 5px solid #f1e05a;
  margin: 0;
}
  
.sql{
  width: 320px;
  padding: 10px;
  border: 5px solid #dad8d8;
  margin: 0;
}
 
.python{
  width: 320px;
  padding: 10px;
  border: 5px solid #3572A5;
  margin: 0;
}

.cpp{
  width: 320px;
  padding: 10px;
  border: 5px solid #f34b7d;
  margin: 0;
}

.shell{
  width: 320px;
  padding: 10px;
  border: 5px solid #89e051;
  margin: 0;
}

.ruby{
  width: 320px;
  padding: 10px;
  border: 5px solid #701516;
  margin: 0;
}

/*    @media screen & max width    */

@media screen and (max-width: 400px) {
  .xda{
    width:auto ;
}
  
@media screen and (max-width: 400px) {
  .github{
    width:auto ;
}
  
@media screen and (max-width: 400px) {
  .html{
    width:auto ;
}

@media screen and (max-width: 400px) {
  .css{
    width:auto ;
}

@media screen and (max-width: 400px) {
  .javascript{
    width:auto ;
}

@media screen and (max-width: 400px) {
  .sql{
    width:auto ;
}

@media screen and (max-width: 400px) {
  .python{
    width:auto ;
}


@media screen and (max-width: 400px) {
  .cpp{
    width:auto ;
}
  
@media screen and (max-width: 400px) {
  .shell{
    width:auto ;
}

@media screen and (max-width: 400px) {
  .ruby{
    width:auto ;
}
  
@media screen and (max-width: 400px) {
  .xda{
    width:auto ;
}
  
@media screen and (max-width: 400px) {
  .github{
    width:auto;
}
