/*
* button.css ()
* Copyright 2019 vasanthrt
* Licensed under MIT (https://github.com/vasanthrt/mysite/blob/master/LICENSE)
*/

.button{
  background-color: darkcyan; 
  border: white;
  color: cyan;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.bxda{
  background-color: red; 
  border: white;
  color: black;
  padding: 14px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.bgithub{
  background-color: #0303ffa6; 
  border: white;
  color: black;
  padding: 14px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.bdown{
  background-color: darkgreen; 
  border: white;
  color: black;
  padding: 14px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.bsolo{
  background-color: #795548b8; 
  border: white;
  color: black;
  padding: 14px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.bsite{
  background-color: #3572A5; 
  border: white;
  color: black;
  padding: 14px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.back{
  background-color: #673AB7; 
  border: 2px solid black;
  color: #000000;
  padding: 14px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  border-radius:25px;
}

.back:hover{
  background-color: #000000; 
  border: 2px solid #673AB7;
  color: #673AB7;
  padding: 14px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  border-radius:25px;
}

.pyb{
  background-color: #3572A5; 
  border: white;
  color: black;
  padding: 14px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.htb{
  background-color: #e44b23; 
  border: white;
  color: black;
  padding: 14px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.csb{
  background-color: #563d7c; 
  border: white;
  color: black;
  padding: 14px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.card{
  background-color: #1e90ff; 
  border: white;
  color: black;
  padding: 14px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
