 /*
* cards.css ()
* Copyright 2019 vasanthrt
* Licensed under MIT (https://github.com/vasanthrt/mysite/blob/master/LICENSE)
*/

.column {
  float: left;
  width: 45%;
  margin-bottom: 20px;
  padding: 0 10px;
}
.content{
  background-color: #7f7e7ead;
  border-radius: 30px;
  padding-right:20px;
  padding-top:16px;
  font-family: Helvetica, Arial, sans-serif;
}
.row {
  padding:0px 0px 0px 0px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.cards {
  box-shadow: 0 4px 8px 0 #1e90ff;
  padding: 16px;
  color:white;
  border-radius: 30px;
  text-align: center;
  background-color: #212121;
}
.cards:hover {
  box-shadow: 0 4px 8px 0 #349bff;
  padding: 16px;
  color:white;
  border-radius: 30px;
  text-align: center;
  background-color: #000000e0;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
} 

@media screen and (min-width:1221px) {
  .row {
    padding-left: 90px;
  }
} 

@media screen and (max-width: 1220px) {
  .row {
    padding-left: 65px;
  }
} 

@media screen and (max-width: 992px) {
  .row {
    padding-left: 40px;
  }
} 

@media screen and (max-width: 768px) {
  .row {
    padding-left: 30px;
  }
} 

@media screen and (max-width: 600px) {
  .row {
    padding-left: 0px;
  }
} 
