/*
* column.css ()
* Copyright 2019 vasanthrt
* Licensed under MIT (https://github.com/vasanthrt/mysite/blob/master/LICENSE)
*/

.content {
  background-color: #7f7e7ead;
  border-radius: 30px;
  padding: 16px;
  font-family: Helvetica, Arial, sans-serif;
}

.content a {
  color: #dcbd13;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 19px; 
  line-height: 30px;
  border-radius: 5px;
}

.content a:hover {
  color: cyan;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
