/*
* container.css ()
* Copyright 2019 vasanthrt
* Licensed under MIT (https://github.com/vasanthrt/mysite/blob/master/LICENSE)
*/
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 450px) {
  .container {
    max-width:auto;
  }
}

@media (min-width: 520px) {
  .container {
    max-width: 500px;
  }
}

@media (min-width: 600px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1220px) {
  .container {
    max-width: 1200px;
  }
}


