/*
* header.css ()
* Copyright 2019 vasanthrt
* Licensed under MIT (https://github.com/vasanthrt/mysite/blob/master/LICENSE)
*/

.header {
  overflow: hidden;
  background-color: grey;
  padding: 14px,16px;                
  border-radius: 30px;
}
 
.header a {
  float: left;
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 19px; 
  line-height: 30px;
  border-radius: 5px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: green;
  color: cyan;
}

.header a.active {
  background-color: dodgerblue;
  color: #fff;
}

.header-right {
  float: right;
}
