/*
* inline-nav.css ()
* Copyright 2019 vasanthrt
* Licensed under MIT (https://github.com/vasanthrt/mysite/blob/master/LICENSE)
*/

ul.breadcrumb {
  list-style: none;
  border-radius:30px;
  background-color: #000000;
}
ul.breadcrumb li {
  display: inline;
  font-family:verdana;
  font-size: 18px;
}
ul.breadcrumb li+li:before {
  padding:8px;
  color: white;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: #03A9F4;
  font-size:18px;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #2196F3;
  text-decoration: underline;
}
