/*
* lang-color.css ()
* Copyright 2019 vasanthrt
* Licensed under MIT (https://github.com/vasanthrt/mysite/blob/master/LICENSE)
*/

.c-cpp{
  height:15px;
  width:15px;
  display:inline-block;
  border-radius:50%;
  background-color:#f34b7d;
}
.c-ruby{
  height:15px;
  width:15px;
  display:inline-block;
  border-radius:50%;
  background-color:#701516;
}
.c-python{
  height:15px;
  width:15px;
  display:inline-block;
  border-radius:50%;
  background-color:#3572A5;
}
.c-shell{
  height:15px;
  width:15px;
  display:inline-block;
  border-radius:50%;
  background-color:#89e051;
}
.c-html{
  height:15px;
  width:15px;
  display:inline-block;
  border-radius:50%;
  background-color:#e44b23;
}.c-css{
  height:15px;
  width:15px;
  display:inline-block;
  border-radius:50%;
  background-color:#563d7c;
}
.c-js{
  height:15px;
  width:15px;
  display:inline-block;
  border-radius:50%;
  background-color:#f1e05a;
}
