/*
* main.css ()
* Copyright 2019 vasanthrt
* Licensed under MIT (https://github.com/vasanthrt/mysite/blob/master/LICENSE)
*/

body{
  color:white;
  background-color:black;
}

.vrt{
   font-family: "Courier New", Courier,monospace;
   font-size: large; 
   text-align: center;   
   position:static;
   top:30px;
   right:500px;
} 

img {
  border: 3px solid #1ec0ff;
  border-radius: 25px;
  padding: 5px;
  width: 150px;
}

.footer {
   font-family:"Lucida Console", Monaco, monospace;
   font-size:16px;
   height:50px;    
}


.footer a {
  color: coral;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  padding: 6px;
  text-decoration: none;
  font-size: 19px; 
  line-height: 45px;
  border-radius: 5px;
}
 
.footer a:hover {
  background-color: green;
  padding: 10px 15px;
  color: cyan;
}

.copyright {
    font-size: 19px;
    font-family: "Lucida Console", Monaco, monospace;
    text-align: right;
    padding-bottom: 10px;
    color: violet;
}

.margin{
   width: 340px;
   text-align: left;
   padding: 10px;
   box-sizing:border-box;
   border: 5px solid grey;
   margin: auto;
}

@media screen and (max-width: 400px) {
  .vrt{
    font-size:18px;
}


@media screen and (max-width: 400px) {
  .margin{ 
    width: auto;
    text-align: left; 
    padding: 10px;
    border: 5px solid grey;
    margin: auto;
}

@media screen and (max-width: 400px) {
  .copyright{
    font-size:12px;
}
